@model IEnumerable<ProblemVM>

@{
    ViewData["Title"] = "Problems";
}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>CreatedAt</th>
            <th>Status</th>
            <th>UserId</th>
            <th>CategoryId</th>
            <th>UserVoteType</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var problem in Model)
        {
            <tr>
                <td>@problem.Title</td>
                <td>@problem.Description</td>
                <td>@problem.CreatedAt.ToShortDateString()</td>
                <td>@problem.Status</td>
                <td>@problem.UserId</td>
                <td>@problem.CategoryId</td>
                <td>@problem.UserVoteType</td>
                <td>
                    <a asp-action="Details" asp-route-id="@problem.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


